
.container__header{
    padding: 10px 16px;
    background: url(/images/Header/cover.png);
    background-size: 100% 100%;
}

h2{
    font-family: var(--secondFont);
    font-weight: var(--sm);
    font-size: 30px;
    color: var(--fontColor);
}

.container__options{
    width: 90%;
    height: 147px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 9px 0px;
    background-color: rgba(288, 288, 288, 0.9);
    border-radius:8px;
}
.location{
    width: 10px;
    
    display: grid;
    justify-content: right;
    align-items: flex-start;
}
.filter__options-countries{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
    
    background: url(/images/Header/pin.svg) rgba(255, 255, 255, 255.8);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position-x: 0.3rem;
    background-position-y: center;

    width: 95%;
    height: 30px;   
}
.filter__options-countries{
    padding: 5px 25px;
}

.filter__dates{
    width: 95%;
    height: 30px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 10px;  

}
.filter__dates .filter__datefrom{
    background: url(/images/Header/checkout.svg) rgba(255, 255, 255, 255.8);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position-x: 0.3rem;
    background-position-y: center;
    padding: 5px 25px;
}

.filter__dates .filter__dateto{
    background: url(/images/Header/checkin.svg) rgba(255, 255, 255, 255.8);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position-x: 0.3rem;
    background-position-y: center;
    padding: 5px 25px;
}

.filter__others{
    width: 95%;
    height: 30px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 10px;    
    
}

.filter__others .filter__prices{
    background: url(/images/Header/price.svg) rgba(255, 255, 255, 255.8);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position-x: 0.3rem;
    background-position-y: center;
    padding: 5px 25px;
}

.filter__others .filter__sizes{
    background: url(/images/Header/rooms.svg) rgba(255, 255, 255, 255.8);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position-x: 0.3rem;
    background-position-y: center;
    padding: 5px 25px;
}

.btn__clear{
    width: 60px;
    height: 20px;
    border-radius: 6px;
    border: none;
    color: var(--fontColor);
    background: #333333E0;
    margin-left: 80%;
}
